/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(162, 100%, 40%)
      Orange: hsl(14, 100%, 65%) - Blue: hsl(210, 100%, 70%)
      Pink: hsl(356, 100%, 75%) - Purple: hsl(250, 100%, 75%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */

  --hue: 162;
  --first-color: hsl(var(--hue), 100%, 40%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsl(228, 15%, 15%);

/* Font and typography */
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* CSS Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button{
    outline: none;
    border: none;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
svg {
    min-width: 100%;
    height: auto;
}

/* CSS Reusable */
.container {
    max-width: 1220px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
    text-align: center;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.section__subtitle span {
    color: var(--first-color);
}

main {
    overflow: hidden;
}


/* Header and Nav */
.header{
    position: fixed;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo span {
    color: var(--first-color);
}

.nav__toggle,
.nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

/* Mediaquery for mobile */
@media screen and (max-width: 1023px){
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: hsla(0, 0%, 10%, .3);
        width: 75%;
        height: 100%;
        padding: 4.5rem 0 0 3rem;
        backdrop-filter: blur(24px);
        transition: right .4s;
        z-index: var(--z-fixed);
    }
    .button-CV {
        margin-top: .8rem;

    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link {
    color: var(--title-color);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu for Javascript */
.show-menu {
    right: 0;
}

/* Set base color to header */
.baseColorHeader{
    background-color: rgb(16, 17, 26);
}
.baseColorHeader::after {
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color: hsla(0%, 0%, 10%, .3);
}

/* Active Link */
.active-link {
    color: var(--first-color);
}


/* Home Section Styles*/
.home{
    background-color: var(--container-color);
}

.home__container {
    padding-top: 2rem;
    row-gap: 2.5rem;
}

.home__content {
    display: grid;
    row-gap: 2rem;
}

.home__data {
    text-align: center;
}

.home__subtitle,
.home__education {
    font-size: var(--bigger-font-size);
}

.home__title {
    color: var(--first-color);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
}

.home__description {
    margin-block: 1rem 1.5rem;
}

.home__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.home__social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

.home__social-link:hover {
    transform: translate(-.25rem);
}

.home__image {
    justify-self: center;
}

.home__blob {
    width: 320px;
    filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, .2));
}

/* Button Styles */

.button {
    display: inline-block;
    background-color: var(--first-color);
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: box-shadow .4s;
}

.button-CV {
    background-color: rgb(126, 71, 59); 
    margin-left: 10px;
}

.button:hover {
    box-shadow: 0 8px 24px hsl(var(--hue), 100%, 40% , .25);
}



/* About Section Styles*/
.about__container {
    row-gap: 2.5rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: 2rem;
}


/* General Styles for Skills */
.skills {
    padding: 2rem 0;
  }
  
  .skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skills__content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .skills__group {
    flex: 1;
    min-width: 250px; /* Ajusta el ancho mínimo si es necesario */
    background: #222; /* Fondo del contenedor */
    border: 2px solid #2f4362; /* Contorno fosforescente */
    border-radius: 15px; /* Biselado */
    padding: 1rem;
    box-shadow: 0 0 15px rgba(156, 158, 156, 0.7); /* Sombra fosforescente */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skills__group:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el ratón */
    box-shadow: 0 0 20px rgba(0, 255, 0, 1); /* Efecto de contorno más brillante */
  }
  
  .skills__group-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #fff; /* Color del texto del título */
  }
  
  .skills__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .skills__item {
    background: #333;
    border-radius: 10px; /* Biselado de los items */
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .skills__item i {
    font-size: 1.5rem;
  }
  
  .skills__item span {
    font-size: 1rem;
    color: #fff; /* Color del texto de los ítems */
  }

  .skills__icon{
    width: 1.5rem;
    display: flex;
    filter: hue-rotate(220deg) saturate(8%) brightness(100%);
  }


/* Experience Section */
.experience {
    padding-block: 5rem 2rem;
}

.experience__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experience__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    position: relative;
}

.experience__item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.experience__item-content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: left;
}

.experience__item-title {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.5rem;
}

.experience__item-company,
.experience__item-date {
    display: block;
    color: var(--text-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.experience__item-description,
.experience__item-skills {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.experience__timeline {
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--primary-color);
}

.experience__circle {
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 0;
    transform: translateY(-50%);
}

.experience__item:last-child .experience__timeline {
    height: 50%;
}

.experience__item:not(:last-child) .experience__circle {
    bottom: 0;
}

  


/* Section Projects Styles */
.projects {
    padding-block: 5rem 2rem;
}

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects__filter {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.projects__filter-btn {
    border: 1px solid #6C63FF;
    color: #6C63FF;
    background: transparent;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    border-radius: 12px;
}

.projects__filter-btn:hover,
.projects__filter-btn.active {
    background: #6C63FF;
    color: #fff;
}

.projects__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__item {
    background-color: var(--container-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    overflow: hidden;
    width: 300px;
    display: flex;
    flex-direction: column; /* Hace que el contenedor sea flexible en columna */
}

.projects__img {
    width: 100%;
    height: auto;
}

.projects__item-info {
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column; /* Hace que el contenedor de la info sea flexible en columna */
    flex-grow: 1; /* Permite que crezca para ocupar el espacio disponible */
}

.projects__item-title {
    color: var(--title-color);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.5rem;
}

.projects__item-date {
    display: block;
    color: var(--text-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.projects__item-description {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.projects__item-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 13px;
}

.projects__item-skills span {
    background: #6C63FF;
    color: #fff;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: var(--small-font-size);
}

.projects__item-buttons {
    margin-top: auto; /* Empuja los botones hacia abajo */
    display: flex;
    gap: 1rem;
}

.projects__item-button {
    display: flex;
    align-items: center;
    background-color: #d07179;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 68px;
    text-decoration: none;
    font-size: .8rem;
    transition: background-color 0.3s;
}

.projects__item-button.github {
    background-color: #24292e;
}

.projects__item-button.web {
    background-color: #28a745;
}

.projects__item-button i {
    margin-right: 0.5rem;
}

.projects__item-button:hover {
    opacity: 0.8;
}


/* Education Section */
.education {
    padding-block: 5rem 2rem;
    background-color: var(--background-color); /* Set the background color */
}

.education__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

.education__general-container {
    background-color: var(--container-color); /* Set the background color for the general container */
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 800px;
    margin-top: 2rem;
    box-shadow: 0 0 10px 5px #2f4362; /* Neon blue glow */
}

.education__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.education__item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    background-color: #333; /* Set the color for the education items */
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%; /* Make items fill the container width */
    max-width: 100%; /* Ensure items don’t exceed the container width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.education__item-content {
    color: var(--container-color); /* Use container color for text */
    width: 100%;
    text-align: left;
}

.education__item-title {
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.5rem;
}

.education__item-institution,
.education__item-date {
    display: block;
    color: var(--text-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
}

.education__item-description {
    color: var(--text-color);
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.education__timeline {
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--primary-color);
}

.education__circle {
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: 0;
    transform: translateY(-50%);
}

.education__item:last-child .education__timeline {
    height: 50%;
}

.education__item:not(:last-child) .education__circle {
    bottom: 0;
}


/* Section Contact */
.contact__container {
    padding-top: 1rem;
}

.contact__form,
.contact__group {
    display: grid;
    row-gap: 1rem;
}

.contact__form {
    position: relative;
}

.contact__input {
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
}

.contact__input::placeholder {
    color: var(--text-color);
}

.contact__form textarea {
    height: 11rem;
    resize: none;
    margin-bottom: 2rem;
}

.contact__button {
    justify-self: center;
    cursor: pointer;
}

.contact__message {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

/* Section Footer Styles */
.footer {
    background-color: var(--container-color);
    padding-block: 3.5rem  2rem;
}

.footer__container {
    row-gap: 2rem;
    text-align: center;
}

.footer__title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
    color: var(--first-color);
}

.footer__title span {
    color: var(--first-color);
}

.footer__education {
    font-size: var(--normal-font-size);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link{
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy{
    font-size: var(--smaller-font-size);
    margin-top: 2rem;
}



/* For small devices */
@media screen and (max-width: 256px){
    .container{
        margin-inline: 1rem;
    }

    .skills__content {
        grid-template-columns: max-content;
        row-gap: 1rem;
    }

}



/* For small devices */
@media screen and (max-width: 320px){
    .container{
        margin-inline: 1rem;
    }

    .skills__content {
        grid-template-columns: max-content;
        row-gap: 1rem;
    }

    .education__item {
        padding: 1.1rem;
    }
    .button {
        padding-top: 10px;
    }

    .button-CV {
        margin-right: 8px;
    }

    .contact__input {
        margin-right: 6px;
    }
}



/* For medium devices */
@media screen and (min-width: 576px) {
    .home__container,
    .skills__container,
    .about__container,
    .experience__container,
    .projects__container,
    .education__container,
    .contact__container
    {
        grid-template-columns: 360px;
        justify-content: center;
    }

}

@media screen and (min-width: 768px){
    .nav__menu{
        width: 55%;
    }

    .home__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .home__data {
        text-align: initial;
    }

    .home__social {
        justify-content: initial;
    }

    .home__blob {
        width: 400px;
    }
}


/* For large devices */
@media screen and (min-width: 1023px) {
    .section {
        padding-block: 7rem 2rem;
    }

    .section__subtitle {
        font-size: var(--normal-font-size);
    }

    .nav {
        height: var(--header-height) + 1.5rem;
    }

    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .nav__menu {
        width: initial;
    }
}

@media screen and (min-width: 1152px){
    .container {
        margin-inline: auto;
    }

    .nav {
        padding: 2.5rem;
    }
    .home__container {
        grid-template-columns: 570px 600px;
        column-gap: 7rem;
        padding-block: 2rem 3rem;
    }

    .home__blob {
        width: 550px;
    }
    
    .home__content {
        row-gap: 4.5rem;
    }

    .home__description {
        margin-block: 1.5rem 2.5rem;
    }

    .home__social {
        column-gap: 1.5rem;
    }


    .skills__content {
        justify-content: space-between;
    }

    .skills__group {
        flex: 1;
        min-width: 0; /* Permite que las columnas se ajusten */
    }

    .contact__container {
        grid-template-columns: 680px;
        padding-block: 2.5rem 2rem;
    }
    
    .contact__form {
        row-gap: 1.5rem;
    }

    .contact__group {
        grid-template-columns: repeat(2,1fr);
        column-gap: 1.5rem;
    }

    .contact__input {
        padding: 1.5rem;
    }

    .contact__form textarea {
        height: 20rem;
    }

    .footer {
        padding-block: 4.5rem 4rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: initial;
    }

    .footer__title {
        font-size: var(--bigger-font-size);
    }

    .footer__social {
        column-gap: 1.5rem;
    }

    .footer__copy {
        margin: 0;
        justify-self: flex-end;
    }
}